body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
header {
    background-color: #c5eefe;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.container {
    width: 1145px;
    margin: 0 auto;
    padding: 1.4rem 0;
}
ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 475px;
    float: right;
}
ul#menu li a {
    float: left;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
ul#menu li a:hover {
    color: #4c799f;
}
ul#menu li.iniciar a {
    color: white;
    background-color: black;
    border-radius: 1.2rem;
}
ul#menu li.iniciar a:hover {
    color: #c5eefe;
}