body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
header {
    background-color: #c5eefe;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.container {
    width: 1145px;
    margin: 0 auto;
    padding: 1.4rem 0;
}
ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 475px;
    float: right;
}
ul#menu li a {
    float: left;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
ul#menu li a:hover {
    color: #4c799f;
}
ul#menu li.iniciar a {
    color: white;
    background-color: black;
    border-radius: 1.2rem;
}
ul#menu li.iniciar a:hover {
    color: #c5eefe;
}
/* Destaque */
#destaque {
    background-color: #c5eefe;
    border-bottom: 1px solid black;
    margin-top: 4.7rem;
}
#area-destaque {
    width: 55%;
}
#destaque button {
    display: block;
    margin-top: 1.8rem;
    border-radius: 1.5em;
    border: 1px solid black;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: white;
}
.fundo-destaque {
    background: url(../img/fundo-topo.png) no-repeat right bottom;
    background-size: 22rem;
}
/* Tipografia */
h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
    letter-spacing: -0.1rem;
}